<div class='row'>
    <div class='col-sm-12'>  

        <div class='box bordered-box orange-border' style='margin-top:10px;'>
            <div class='box-header orange-background'>
                <div class='title'> 公司成员</div>
                <div class='actions'>
                    <a class="btn box-remove btn-xs btn-link" href="#"><i class='fa fa-times'></i>
                    </a>
                    <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                    </a>
                </div>
            </div>
            <div class='box'>
                <div class='box-content'>
                    <div class='tabbable'>
                        <ul class='nav nav-tabs nav-tabs-centered'>
                            <li class='active'>
                                <a href="{:url('index')}">
                                    <i class='fa fa-check-circle text-red'></i>
                                    已审核
                                </a>
                            </li>
                            <li>
                                <a href="{:url('unchecked')}">
                                    <i class='fa fa-clock-o'></i>
                                    待审核
                                </a>
                            </li>
                            <li>
                                <a href="{:url('reedit')}">
                                    <i class='fa fa-edit'></i>
                                    未通过
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="pull-left">
                    </div>
                    <div class="pull">
                        <form class='navbar-form navbar-right' role='search' method='post' action="{:url('index')}">
                            <div class='form-group'>      
                                <input class='form-control' id="name" placeholder='根据姓名查询' type='text' name="name" value="{$Think.request.name}"/>	
                            </div>
                            <div class='form-group'>										
                                <input class='form-control' id="price" placeholder='根据电话查询' type='text' name="phone" value="{$Think.request.phone}"/>
                            </div>                           
                            <button class='btn btn-success'  type='submit'>查询</button>
                        </form>

                    </div>
                    <div class="clearfix"></div>

                </div>
            </div>
            <div class='box-content box-no-padding'>
                <div class='responsive-table'>
                    <div class='scrollable-area'>

                        <table id="checkList" class='data-table table table-bordered table-striped' style='margin-bottom:0;'>
                            <thead>
                                <tr>
                                    <th class="text-center"><input type="checkbox" id="check" onclick="CheckAll('checkList')"></th>			
                                    <th class="text-center"><a href="javascript:sortBy('id','{$sort}','index')" title="按照编号排列 ">编号</a></th>
                                    <th class="text-center">头像</th> 
                                    <th class="text-center">姓名</th>
                                    <th class="text-center">电话</th>
                                    <th class="text-center">邮箱</th>
                                    <th class="text-center">公司名称</th>
                                    <th class="text-center">活跃程度</th>
                                    <th class="text-center">状态</th>
                                </tr>
                            </thead>
                            <tbody>

                                {volist name='lists' id='vo'}
                                <tr>
                                    <td class="text-center"><input id="cb{$vo.id}" type="checkbox" name="key"  value="{$vo.id}"></td>
                                    <td class="text-center">{$vo.id}</td>
                                    <td class="text-center" style="padding:0;vertical-align: middle;">
                                        <a href="{:Url('showImg',['url'=>$vo['url']])}" data-toggle="modal" data-target="#imgmodal">
                                            <img  src="{empty name='vo.thumb'}/static/Images/admin.png{else /}{$vo.thumb}{/empty}" width="30" height="30" />
                                        </a>
                                    </td>
                                    <td class="text-center">{$Think.request.name?str_replace($Think.request.name, '<font color=red>'.$Think.request.name.'</font>', $vo['name']):$vo['name']}</td>
                                    <td class="text-center">{$Think.request.phone?str_replace($Think.request.phone, '<font color=red>'.$Think.request.phone.'</font>', $vo['phone']):$vo['phone']}</td>
                                    <td class="text-center">{$vo['email']}</td>
                                    <td class="text-center">{$vo['company_name']}</td>
                                    <td class="text-center">{$vo.login_count}</td>
                                    <td class="text-center">{$vo['status']|getStatus}</td>
                                </tr>
                                {/volist}

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div> 
    </div>
</div>
<!-- 分页开始 -->        
<div class='row'>
    <div class='col-sm-12 box box-nomargin text-center'>
        {$lists->render()}
    </div>
</div>
<!-- 模态对话框 -->  
<div class='modal fade' id='imgmodal'  tabindex='-1'>
    <div class='modal-dialog'>
        <div class='modal-content' style="width:1000px;left:50%;margin-left: -500px;">  </div>
    </div>
</div>  