<div class='row'>
    <div class='col-sm-12'>  

        <div class='box bordered-box orange-border' style='margin-top:10px;'>
            <div class='box-header orange-background'>
                <div class='title'> 回收站</div>
                <div class='actions'>
                    <a class="btn box-remove btn-xs btn-link" href="#"><i class='fa fa-times'></i>
                    </a>
                    <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                    </a>
                </div>
            </div>
            <div class='box'>
                <div class='box-content'>
                    <div class='tabbable'>
                        <ul class='nav nav-tabs nav-tabs-centered'>
                            <li>
                                <a href="{:url('index')}">
                                    <i class='fa fa-check-circle'></i>
                                    新闻列表
                                </a>
                            </li>
                            <li class='active'>
                                <a href="{:url('recycleBin')}">
                                    <i class='fa fa-recycle text-red'></i>
                                    回收站
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="pull-left">
                        <a href="javascript:void(0);"  onclick="recycle()" class='btn btn-info' style='margin-bottom:15px'>
                            批量恢复
                            <i class='fa fa-history'></i>
                        </a>	                        
                        <a href="javascript:void(0);"  onclick="picdelete()" class='btn btn-danger' style='margin-bottom:15px'>
                            彻底删除
                            <i class='fa fa-trash-o'></i>
                        </a>
                    </div>
                    <div class="pull">
                        <form class='navbar-form navbar-right' role='search' method='post' action="{:url('recycleBin')}">
                            <div class='form-group'>
                                <input class='form-control' placeholder='根据标题查询' type='text' name="title" value="{$Think.request.title}"/>&nbsp;
                            </div>
                            <button class='btn btn-success'  type='submit'>查询</button>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class='box-content box-no-padding'>
                <div class='responsive-table'>
                    <div class='scrollable-area'>

                        <table id="checkList" class='data-table table table-bordered table-striped' style='margin-bottom:0;'>
                            <thead>
                                <tr>
                                    <th class="text-center"><input type="checkbox" id="check" onclick="CheckAll('checkList')"></th>
                                    <th class="text-center"><a href="javascript:sortBy('id','{$sort}','index')" title="按照编号排列 ">编号</a></th>
                                    <th class="text-center">标题</th>
                                    <th class="text-center">创建时间</th>
                                    <th class="text-center">更新时间</th>
                                    <th class="text-center">操作</th>
                                </tr>
                            </thead>
                            <tbody>

                                {volist name='lists' id='vo'}
                                <tr>
                                    <td class="text-center"><input id="cb{$vo.id}" type="checkbox" name="key"  value="{$vo.id}"></td>
                                    <td class="text-center">{$vo.id}</td>
                                    <td class="text-center">{$Think.request.title?str_replace($Think.request.title, '<font color=red>'.$Think.request.title.'</font>', $vo['title']):$vo['title']}</td>
                                    <td class="text-center">{:date('Y-m-d H:i:s',$vo['create_time'])}</td>
                                    <td class="text-center">{:date('Y-m-d H:i:s',$vo['update_time'])}</td>
                                    <td class="text-center">  
                                        <a class='btn btn-default btn-xs' href="{:url('view',['id'=>$vo['id'],'page'=>$Think.get.page])}" title="预览">
                                            <i class='fa fa-eye'></i> 
                                        </a>
                                        <a class='btn btn-info btn-xs' href="javascript:void(0);"  onclick="recycle({$vo['id']})" title="恢复">
                                            <i class='fa fa-history'></i> 
                                        </a>
                                        <a class='btn btn-danger btn-xs' href="javascript:void(0);"  onclick="picdelete({$vo['id']})" title="彻底删除">
                                            <i class='fa fa-trash-o'></i> 
                                        </a>                                        
                                    </td>  
                                </tr>

                                {/volist}

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div> 
    </div>
</div>
<!-- 分页开始 -->        
<div class='row'>
    <div class='col-sm-12 box box-nomargin text-center'>
        {$lists->render()}
    </div>
</div>
