<div class='row'>
    <div class='col-sm-12'>
        <div class='box' >
            <div class='box-header blue-background' style='margin-top:10px;'>
                <div class='title'> 信息预览</div>

                <div class='actions'>
                    <a class="btn box-remove btn-xs btn-link" href="#"><i class='fa fa-times'></i>
                    </a>
                    <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                    </a>
                </div>
            </div>
            <div class='box-content'>
                <form class='form form-horizontal validate-form'>
                    <div class='form-group'>
                        <label class='col-md-2 control-label'>公司名称:</label>
                        <div class='col-md-5 controls'>
                            <input class='form-control' disabled placeholder='公司名称' type='text' value="{$list.name}" />
                        </div>
                    </div> 
                    <div class='form-group'>
                        <label class='col-md-2 control-label' for='validation_linkman'>联&nbsp;系&nbsp;&nbsp;人:</label>
                        <div class='col-md-5 controls'>
                            <input class='form-control' disabled placeholder='联系人' type='text' value="{$list.linkman}"/>
                        </div>
                    </div>                    
                    <div class='form-group'>
                        <label class='col-md-2 control-label' for='validation_phone'>手机号码:</label>
                        <div class='col-md-5 controls'>
                            <input class='form-control' disabled placeholder='电话号码' type='text' value="{$list.phone}"/>
                        </div>
                    </div>                     
                    <div class='form-group'>
                        <label class='col-md-2 control-label' for='validation_email'>公司邮箱:</label>
                        <div class='col-md-5 controls'>
                            <input  class='form-control' disabled type="text" name="email" placeholder='邮箱' value="{$list.email}"/>
                        </div>
                    </div>
                    <div class='form-group'>
                        <label class='col-md-2 control-label' for='validation_address'>公司地址:</label>
                        <div class='col-md-5 controls'>
                            <input  class='form-control' type="text" disabled placeholder='请填写地址信息' value="{$list.address}"/>
                        </div>
                    </div>  
                    <div class='form-group'>
                        <label class='col-md-2 control-label' >营业执照:</label>
                        <div class='col-md-5 controls'>
                            <input  class='form-control' type="text" disabled  value="{$list.company_number}"/>
                        </div>
                    </div> 
                    <div class='form-group'>
                        <label class='col-md-2 control-label' >创建时间:</label>
                        <div class='col-md-5 controls'>
                            <input  class='form-control' type="text" disabled  value="{$list.create_time|date='Y-m-d H:i:s',###}"/>
                        </div>
                    </div>                      
                     <div class='form-group'>
                        <label class='col-md-2 control-label' >剩余空间:</label>
                        <div class='col-md-5 controls'>
                            <input  class='form-control' type="text" disabled  value="{$list.mianliao_num}"/>
                        </div>
                    </div>                      
                    <div class='form-actions' style='margin-bottom:0'>
                        <div class='row'>
                            <div class='col-sm-9 col-sm-offset-2'>
                                <a class='btn' onclick="history.go(-1)">确定</a>
                                <a class='btn' style="margin-left:20px;" onclick="history.go(-1)">返回</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>                  