<div class='row'>
    <div class='col-sm-12'>
        <div class='box' >
            <div class='box-header blue-background' style='margin-top:10px;'>
                <div class='title'> 成员新增(默认密码123456)</div>

                <div class='actions'>
                    <button class="btn btn-sm btn-primary "  onclick="javascript:window.location.href = '__URL__/index?page={$Think.get.page}'">
                        返回列表
                        <i class="icon-reply icon-only"></i>
                    </button>
                    <a class="btn box-remove btn-xs btn-link" href="#"><i class='fa fa-times'></i>
                    </a>
                    <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                    </a>
                </div>
            </div>
            <div class='box-content'>
                <form class='form form-horizontal validate-form' method="post" enctype="multipart/form-data" action="{:url('add')}" >
                    {:token()}
                    <input type="hidden" id="page" name="page" value="{$Think.get.page}" />
                    <input type="hidden"  name="company_id" value="0" />
                    <div class='form-group'>
                        <label class='col-md-3 control-label' for='validation_phone'>电话号码:</label>
                        <div class='col-md-5 controls'>
                            <input class='form-control' data-rule-required='true' data-rule-isMobile="true" id='validation_phone' name='phone'
                                   placeholder='电话号码' type='text'  />
                        </div>
                    </div>  
                    <div class='form-group'>
                        <label class='col-md-3 control-label' for='validation_name'>真实姓名:</label>
                        <div class='col-md-5 controls'>
                            <input class='form-control' data-rule-minlength='2' id='validation_name' name='name' placeholder='真实姓名' type='text' />
                        </div>
                    </div>
                    <div class='form-group'>
                        <label class='col-md-3 control-label' for='validation_password'>个人密码:</label>
                        <div class='col-md-5 controls'>
                            <input class='form-control' data-rule-required='true' data-rule-minlength='6' id='validation_password' name='password' type='password' value="123456"/>
                        </div>
                    </div>
                    <div class='form-group'>
                        <label class='control-label col-md-3' for='validation_rpassword'>确认密码:</label>
                        <div class='col-sm-5 controls'>
                            <input class='form-control' data-rule-equalTo='#validation_password'  id='validation_rpassword' name='rpassword' placeholder='请确认您的密码' type='password' value="123456" />
                        </div> 
                    </div>   
                    <div class='form-group'>
                        <label class='col-md-3 control-label' for='validation_id_card'>身份证号:</label>
                        <div class='col-md-5 controls'>
                            <input class='form-control' id='validation_id_card' name="id_card" placeholder='请填写您的身份证号' type='text' data-rule-isPattern="true"/>
                        </div>
                    </div>
                    <div class='form-group'>
                        <label class='col-md-3 control-label' for='validation_company'>所属公司:</label>
                        <div class='col-md-5 controls'>
                            <input class='form-control' id='validation_company' name="company" placeholder='请填写您的公司名称' type='text' data-rule-required='true'/>
                        </div>
                    </div>
                    <div class='form-group'>
                        <label class='col-md-3 control-label' for='validation_company_number'>营业执照:</label>
                        <div class='col-md-5 controls'>
                            <input class='form-control' id='validation_company_number' name="company_number" placeholder='请填写您公司的营业执照号码' type='text' data-rule-required='true'/>
                        </div>
                    </div>
                    <div class='form-group'>
                        <label class='col-md-3 control-label' for='validation_image'>营业执照:</label>
                        <div class='col-md-5 controls'>
                            <input data-file-input data-show-preview='ture' title='请上传您公司的营业执照图片' type='file' name="image" data-rule-required='true'
                                   id="validation_image" >
                        </div>	
                    </div>

                    <div class='form-actions' style='margin-bottom:0'>
                        <div class='row'>
                            <div class='col-sm-9 col-sm-offset-3'>
                                <button class='btn btn-primary' type='submit'>
                                    提交
                                </button>
                                <a class='btn' style="margin-left:20px;" onclick="history.go(-1)">返回</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>                  