<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>绚试™ MTM管理系统(服装行业量身定制)</title>
    {include file="public/meta" /}
  </head>
  <body class='contrast-red'>
  {include file="public/header" /}
    <div id='wrapper'>
      <div id='main-nav-bg'></div>
        <nav id='main-nav'>
          <div class='navigation'>
            {:action('ShowMenu/index',['id' => '1'],'widget')}
          </div>
        </nav>
      <section id='content'>
        <div class='container'>
            {__CONTENT__}
         {include file="public/footer" /}
      </section>
    </div>
    <!-- / jquery [required] -->
    {include file="public/bottomjs" /}
<script>
                    var u = $(".active").parent('ul');
                    var uc = u.attr("class");//
                    if (uc == 'nav nav-stacked') {
                       u.prev().attr("class", "dropdown-collapse in");
                       u.show();
                    }

</script>
<script type="text/javascript">
    $(function () {


        $("#pstimg").on('change', function () {
            $("#imgform").submit();
        })
    });
</script> 
</body>
</html>