<div class='row'>
    <div class='col-sm-12'> 
        <input type="hidden" id="p" value="{$Think.get.p}">               
        <div class='box bordered-box orange-border' style='margin-top:20px;'>
            <div class='box-header orange-background'>
                <div class='title'>订单列表</div>                      
            </div>
            <div class='box'>
                <div class='box-content'>
                    <div class='tabbable'>
                        <ul class='nav nav-tabs nav-tabs-centered'>
                            <li>
                                <a href="{:url('index')}">
                                    <i class='fa fa-check-circle'></i>
                                    订单列表
                                </a>
                            </li>
                            <li class='active'>
                                <a href="{:url('recycleBin')}">
                                    <i class='fa fa-recycle text-red'></i>
                                    回收站
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <a href="javascript:void(0);"  onclick="recycle()" class='btn btn-info' style='margin-top:8px'>
                                批量恢复
                                <i class='fa fa-history'></i>
                            </a>	
                            <a href="javascript:void(0);"  onclick="picreldelete()" class='btn btn-danger' style='margin-top:8px'>
                                永久删除
                                <i class='fa fa-trash-o'></i>
                            </a>
                        </div>
                        <div class="col-lg-10">
                            <form class='navbar-form' role='search' method='post' action="{:url('recycleBin')}">
                                <div class='form-group'>  
                                    <select class='form-control'  name="time">
                                        <option value="1" {eq name="$Think.request.time" value="1"}selected{/eq}>创建时间</option>
                                        <option value="2" {eq name="$Think.request.time" value="2"}selected{/eq}>支付时间</option>
                                    </select>								
                                </div>
                                <div class='form-group'>
                                    <div class='datepicker-input input-group' id='starttime' >
                                        <input class='form-control' data-format='YYYY-MM-DD HH:mm' placeholder='选择开始日期' type='text' value="{$Think.request.kaishi}">
                                        <span class='input-group-addon'>
                                            <span class='fa fa-calendar'></span>
                                        </span>					                          
                                    </div>
                                    &nbsp;
                                </div>
                                <div class='form-group'>
                                    <div class='datepicker-input input-group' id='endtime'>
                                        <input class='form-control' data-format='YYYY-MM-DD HH:mm' placeholder='选择结束日期' type='text' value="{$Think.request.jiesu}">
                                        <span class='input-group-addon'>
                                            <span class='fa fa-calendar'></span>
                                        </span>
                                    </div>	
                                    &nbsp;
                                </div> 
                                <input id="kaishi" name='kaishi' type="hidden"  value="{$Think.request.kaishi}"/>	
                                <input id="jiesu" name='jiesu' type="hidden"  value="{$Think.request.jiesu}"/>          
                                <div class='form-group col-lg-offset-2'>      
                                    <input class='form-control'  placeholder='根据订单号查询' type='text' name="orderno" value="{$Think.request.orderno}"/>&nbsp;	
                                </div>
                                <button class='btn btn-success right' id='shousuo'>&nbsp;查询</button>
                            </form>
                        </div>
                        <div class="clearfix"></div>

                    </div>
                </div>
            </div>
            <div class='box-content box-no-padding'>
                <div class='responsive-table' >
                    <div class='scrollable-area'>
                        <table id="checkList" class='data-table table table-bordered table-striped'  style='margin-bottom: 0;'>
                            <thead>
                                <tr>
                                    <th class="text-center"><input type="checkbox" id="check" onclick="CheckAll('checkList')"></th>
                                    <th class="text-center"><a href="javascript:sortBy('id','{$sort}','index')" title="按照编号排列 ">序号</a></th>
                                    <th class="text-center">缩略图</th>
                                    <th class="text-center">订单号</th>
                                    <th class="text-center">顾客</th>
                                    <th class="text-center">订单总价</th>													
                                    <th class="text-center">创建时间</th>
                                    <th class="text-center">支付时间</th>
                                    <th class="text-center">订单状态</th>
                                    <th class="text-center">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                {volist name='lists' id='vo'}
                                <tr>
                                    <td class="text-center"><input id="cb{$vo['id']}" type="checkbox" name="key" value="{$vo['id']}"></td>
                                    <td class="text-center">{$vo['id']}</td>
                                    <td class="text-center" style="padding:0;vertical-align: middle;"><img  src="{$vo.thumb}" width="30" height="30" /></td>
                                    <td class="text-center">{$vo.orderno}</td>
                                    <td class="text-center text-contrast">{$vo['customer_phone']}</td>
                                    <td class="text-center">{$vo['totalprice']}￥</td>														
                                    <td class="text-center">{$vo.create_time|date="Y-m-d H:i:s",###}</td>
                                    <td class="text-center">{$vo.pay_time}</td>
                                    <td class="text-center">
                                        {eq name="vo.status" value="1"}<span class="text-contrast">未支付</span>{/eq}
                                        {eq name="vo.status" value="2"}<span class="text-success">已支付</span>{/eq}	
                                    </td>
                                    <td>
                                        <div class='text-center'>
                                            <a class='btn btn-default btn-xs' href="javascript:void(0);"  onclick="view({$vo['id']})" title="订单详情">
                                                <i class='fa fa-eye'></i> 
                                            </a>
                                            <a class='btn btn-info btn-xs' href="javascript:void(0);"  onclick="recycle({$vo['id']})" title="恢复">
                                                <i class='fa fa-history'></i> 
                                            </a>
                                            <a class='btn btn-danger btn-xs' href="javascript:void(0);"  onclick="picreldelete({$vo['id']})" title="永久删除">
                                                <i class='fa fa-trash-o'></i> 
                                            </a>															
                                        </div>
                                    </td>
                                </tr>
                                {/volist}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 分页开始 -->
<div class='row'>
    <div class='col-sm-12 box box-nomargin text-center'>{$lists->render()}</div>
</div> 
