<div class='row'>
    <div class='col-sm-12'>
        <div class='box' >
            <div class='box-header blue-background' style='margin-top:10px;'>
                <div class='title'>&nbsp;&nbsp;公司新增</div>

                <div class='actions'>
                    <button class="btn btn-sm btn-primary "  onclick="javascript:window.location.href = '__URL__/index?page={$Think.get.page}'">
                        返回列表
                        <i class="icon-reply icon-only"></i>
                    </button>
                    <a class="btn box-remove btn-xs btn-link" href="#"><i class='fa fa-times'></i>
                    </a>
                    <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                    </a>
                </div>
            </div>
            <div class='box-content'>
                <form class='form form-horizontal validate-form' method="post" enctype="multipart/form-data" action="{:url('add')}" >
                    {:token()}
                    <input type="hidden" id="page" name="page" value="{$Think.get.page}" />
                    <div class='form-group'>
                        <label class='col-md-2 control-label' for='validation_name'>公司名称:</label>
                        <div class='col-md-5 controls'>
                            <input class='form-control' data-rule-required='true' id='validation_name' name='name' placeholder='公司名称' type='text' />
                        </div>
                    </div> 
                    <div class='form-group'>
                        <label class='col-md-2 control-label' for='validation_linkman'>联&nbsp;系&nbsp;&nbsp;人:</label>
                        <div class='col-md-5 controls'>
                            <input class='form-control'  id='validation_linkman' name='linkman' placeholder='联系人' type='text' />
                        </div>
                    </div>                    
                    <div class='form-group'>
                        <label class='col-md-2 control-label' for='validation_phone'>手机号码:</label>
                        <div class='col-md-5 controls'>
                            <input class='form-control'  data-rule-isMobile="true" id='validation_phone' name='phone'
                                   placeholder='电话号码' type='text'  />
                        </div>
                    </div> 
                    <div class="form-group">
                        <label class='col-md-2 control-label' for='validation_company_number'>营业执照:</label>
                        <div class='col-md-5 controls'>
                            <input class='form-control' id='validation_company_number'  data-rule-required='true' type='text' name="company_number" placeholder='请填写营业执照号'/>
                        </div>
                    </div>
                    <div class='form-group'>
                        <label class='col-md-2 control-label' for='validation_address'>公司地址:</label>
                        <div class='col-md-5 controls'>
                            <input id='validation_address' class='form-control' type="text" name="address" placeholder='请填写地址信息'
                                   data-rule-minlength='6' />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class='col-md-2 control-label' for='validation_mianliao_num'>面料空间:</label>
                        <div class='col-md-5 controls'>
                            <input class='form-control'  data-rule-required='true' data-rule-number='true' id='validation_mianliao_num' name='mianliao_num'  type='text' value="50" />
                        </div>
                    </div>
                    <div class='form-actions' style='margin-bottom:0'>
                        <div class='row'>
                            <div class='col-sm-9 col-sm-offset-2'>
                                <button class='btn btn-primary' type='submit'>
                                    提交
                                </button>
                                <a class='btn' style="margin-left:20px;" onclick="history.go(-1)">返回</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>                  