<div class='row'>
    <div class='col-sm-12'>
        <div class='box' >
            <div class='box-header blue-background' style='margin-top:10px;'>
                <div class='title'> {:model('menu')->getMlName()}</div>

                <div class='actions'>
                    <button class="btn btn-sm btn-primary "  onclick="javascript:window.location.href = '__URL__/index?page={$Think.get.page}'">
                        返回列表
                        <i class="icon-reply icon-only"></i>
                    </button>
                    <a class="btn box-remove btn-xs btn-link" href="#"><i class='fa fa-times'></i>
                    </a>
                    <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                    </a>
                </div>
            </div>
            <div class='box-content'>
                <form class='form form-horizontal validate-form' method="post" enctype="multipart/form-data" action="{:url('mlxgadd')}" >
                    {:token()}
                    <input type="hidden" id="page" name="page" value="{$Think.get.page}" />
                    <div class='form-group'>
                        <label class='control-label col-md-3' for='validation_name'>{:model('menu')->getMlName()}名称:</label>
                        <div class='col-md-5 controls'>
                            <input class='form-control' data-rule-minlength='2' data-rule-required='true' id='validation_name' name='name' placeholder="请填写{:model('menu')->getMlName()}名称" type='text' />
                        </div>
                    </div>                    
                    <div class='form-group'>
                        <label class='col-md-3 control-label' for='validation_image'>{:model('menu')->getMlName()}图片:</label>
                        <div class='col-md-5 controls'>
                            <input data-rule-required='true' data-file-input data-show-preview='ture' title="{:model('menu')->getMlName()}图片" type='file' name="image" 
                                   id="validation_image" >
                        </div>	
                    </div>

    
                    <div class='form-actions' style='margin-bottom:0'>
                        <div class='row'>
                            <div class='col-sm-9 col-sm-offset-3'>
                                <button class='btn btn-primary' type='submit'>
                                    提交
                                </button>
                                <a class='btn' style="margin-left:20px;" onclick="history.go(-1)">返回</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>                  